{% extends 'base.html.twig' %}

{% block title %}Creation{% endblock %}

{% block body %}
    <h1>Creation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ creation.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ creation.titre }}</td>
            </tr>
            <tr>
                <th>Decription</th>
                <td>{{ creation.decription }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ creation.image }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ creation.categorie }}</td>
            </tr>
            <tr>
                <th>DatePublic</th>
                <td>{{ creation.datePublic ? creation.datePublic|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ creation.statut }}</td>
            </tr>
            <tr>
                <th>NbLike</th>
                <td>{{ creation.nbLike }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_creation_index') }}">back to list</a>

    <a href="{{ path('app_creation_edit', {'id': creation.id}) }}">edit</a>

    {{ include('creation/_delete_form.html.twig') }}
{% endblock %}
