{% extends 'base.html.twig' %}

{% block title %}Partenariat{% endblock %}

{% block body %}
    <h1>Partenariat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partenariat.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ partenariat.dateDebut ? partenariat.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ partenariat.dateFin ? partenariat.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ partenariat.statut }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ partenariat.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_partenariat_index') }}">back to list</a>

    <a href="{{ path('app_partenariat_edit', {'id': partenariat.id}) }}">edit</a>

    {{ include('partenariat/_delete_form.html.twig') }}
{% endblock %}
